@using Microsoft.AspNetCore.Components.Authorization

<div class="sidebar-content">
    <nav class="nav-menu">
        <div class="nav-section">
            <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <div class="workspace-header">Workspace</div>
                    <div class="workspace-items">
                        <NavLink class="nav-item" href="boards">
                            <i class="bi bi-columns-gap"></i>
                            <span>Boards</span>
                        </NavLink>
                        <NavLink class="nav-item" href="templates">
                            <i class="bi bi-grid"></i>
                            <span>Templates</span>
                        </NavLink>
                    </div>
                </Authorized>

                <NotAuthorized>
                    <div class="workspace-header">Account</div>
                    <div class="workspace-items">
                        <NavLink class="nav-item" href="login">
                            <i class="bi bi-box-arrow-in-right"></i>
                            <span>Log in</span>
                        </NavLink>
                        <NavLink class="nav-item" href="register">
                            <i class="bi bi-person-plus"></i>
                            <span>Sign up</span>
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>