# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - trello-clone-server

on:
  push:
    branches:
      - main
    paths:
      - 'TrelloClone.Server/**'
      - 'TrelloClone.Shared/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: dotnet publish
        run: dotnet publish -c Release -o "${{env.DOTNET_ROOT}}/myapp"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@8c334a195cbb38e46038007b304988d888bf676a #v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5F76A9050828490095321280FB896860 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C1FCEF90D6F44B40960B34C85FAB974E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_25825023E729497A9523204C98726288 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@145a0687697df1d8a28909569f6e5d86213041f9 #v3
        with:
          app-name: 'trello-clone-server'
          slot-name: 'Production'
          package: .
